<ul id="social-menu">
    <li class="content">
        <a class="cb-github fa-stack fa-lg" href="https://github.com/mderazon" title="Michael Derazon's Github" target="_blank">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
        </a>
    </li>
    <li class="content">
        <a class="cb-stackoverflow fa-stack fa-lg" href="http://stackoverflow.com/users/599912/michael" title="Michael Derazon's Stack Overflow" target="_blank">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
        </a>
    </li>
    <li class="content">
        <a class="cb-twitter fa-stack fa-lg" href="http://twitter.com/mderazon" title="Michael Derazon's Twitter" target="_blank">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </a>
    </li>
    <li class="content">
        <a class="cb-googleplus fa-stack fa-lg" href="https://plus.google.com/102134491169800656262" title="Michael Derazon's Google Plus" target="_blank">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
        </a>
    </li>
    <li class="content">
        <a class="cb-linkedin fa-stack fa-lg" href="http://linkedin.com/in/mderazon" title="Michael Derazon's LinkedIn" target="_blank">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </a>
    </li>
</ul>